head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description", content="This is the sample Bootstrap post, I'm just playing around to figure things out")
  meta(name="author", content="Zach Miller")
  link(rel="icon", href="../../favicon.ico")

  title Blog Template for Bootstrap

  link(href="../../dist/css/bootstrap.min.css", rel="stylesheet")

  link(href="../blog.css", rel="stylesheet")

body
  div(class="blog-masthead")
    div(class="container")
      nav(class="nav blog-nav")
        a(class="nav-link active", href="#") Home
        a(class="nav-link", href="#") Blog
        a(class="nav-link", href="#") Resume
        a(class="nav-link", href="#") Github
        a(class="nav-link", href="#") About

  div(class="blog-header")
    div(class="container")
      h1(class="blog-title") The Bootstrap Blog
      p(class="lead blog-description") An example blog template built with Bootstrap.

  div(class="container")
    div(class="row")
      div(class="col-sm-8 blog-main")
        div(class="blog-post")
          h2(class="blog-post-title") Sample blog post
          p(class="blog-post-meta") January 1, 2014 by 
            a(href="#") Mark

          p This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
          hr
          p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
          blockquote
            p Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
          h2 Heading
          p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          h3 Sub-heading
          p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          pre
            code Example code block
          p Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
          h3 Sub-heading
          p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          ul
            li Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            li Donec id elit non mi porta gravida at eget metus.
            li Nulla vitae elit libero, a pharetra augue.
          p Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.
          ol
            li Vestibulum id ligula porta felis euismod semper.
            li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            li Maecenas sed diam eget risus varius blandit sit amet non magna.
          p Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.

        div(class="blog-post")
          h2(class="blog-post-title") Another blog post
          p(class="blog-post-meta") December 23, 2013 by Jacob

          p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
          blockquote
            p Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
          p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

        div(class="blog-post")
          h2(class="blog-post-title") New feature
          p(class="blog-post-meta") December 14, 2013 by Chris

          p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          ul
            li Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            li Donec id elit non mi porta gravida at eget metus.
            li Nulla vitae elit libero, a pharetra augue.
          p Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
          p Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.

        nav(class="blog-pagination")
          a(class="btn btn-outline-primary", href="#") Older
          a(class="btn btn-outline-secondary disabled", href="#") Newer

      div(class="col-sm-3 offset-sm-1 blog-sidebar")
        div(class="sidebar-module sidebar-module-inset")
          h4 About
          p Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
        div(class="sidebar-module")
          h4 Archives
          ol(class="list-unstyled")
            li
              a(href="#") March 2014
        div(class="sidebar-module")
          h4 Elsewhere
          ol(class="list-unstyled")
            li
              a(href="#") Facebook

  footer(class="blog-footer")
    p Blog template built for #[a(href="https://getbootstrap.com") Bootstrap] by #[a(href="https://twitter.com/mdo") @mdo].
    p
      a(href="#") Back to top

  script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n", crossorigin="anonymous")
  //<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
  script(src="../../dist/js/bootstrap.min.js")
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  script(src="../../assets/js/ie10-viewport-bug-workaround.js")
