html
    head 
        style
            include ../public/stylesheets/style.css
        h2 This should appear on every page
        img(src="happymemory.png")
        div(id= "links")
            a(href="index") Home
            a(href="about") About
            a(href="blog")  Blog
            a(href="code")  Code