html
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href="../../dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="../blog.css", rel="stylesheet")
        div(class="blog-masthead")
          div(class="container")
            nav(class="nav blog-nav")
              a(class="nav-link active", href="#") Home
              a(class="nav-link", href="#") Blog
              a(class="nav-link", href="#") Resume
              a(class="nav-link", href="#") GitHub
              a(class="nav-link", href="#") About
